{% load static %}
{% include 'includes/includes_super/headers.html' %}
{% include 'includes/includes_super/sidebar.html' %}
{% include 'includes/includes_super/navbar.html' %}
<!-- Content Here -->

<div class="page-wrapper">
    <div class="page-content">
        <div class="dash-wrapper">

            <div class="page-breadcrumb d-none d-sm-flex align-items-centers-center mb-3">
                <div class="breadcrumb-title pe-3">Masters</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Company   &nbsp; 
                                <a href="/company_add"><button type="button" class="btn btn-sm btn-success">Add</button></a>
                        </ol>
                    </nav>
                </div>               
            </div> 

            <div class="card">
               
                <div class="card-body">  
                    <div class="row">
                        <div class="col-md-4">
                            <label for="company" class="form-label"> Company</label>
                            <select  class="form-control single-select" name="filter_company_id" id="filter_company_id">
                                <option value="">Select</option>
                                {% for k in company %}
                                <option value="{{k.id}}">{{k.name}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                        <div class="col-3 mt-4">
                            <button type="button" class="btn btn-primary" onclick="refresh_data()">Refresh</button>
                        </div>                      
                    </div>    
                    <div class="table-responsive mt-4">
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Action</th>
                                    <th>Comapny Name</th>
                                    <th>Comapny Logo</th>
                                    <th>Primary Technician</th>
                                    <th>Prefix</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Phone/Mobile</th>
                                    <th>Email</th>
                                    <th>Contact Person</th>
                                    <th>Contact Person Mail</th>
                                    <th>Contact Person Phone</th>
                                    <th>Report Email</th>
                                    <th>Status</th>
            
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End of Content -->
{% include 'includes/includes_super/footer.html' %}

<script>
   

    var table = $('#datatable').DataTable({
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [],
        "columns": [
            { "data": "id", "title": " ID #" },
            { "data": "action", "title": "Action" }, 
            { "data": "name", "title": "Comapany Name" }, 
            { "data": "logo", "title": "Comapany Logo" }, 
            { "data": "technician", "title": "Primary Technician" }, 
            { "data": "prefix", "title": "Prefix" }, 
            { "data": "address", "title": "Address" }, 
            { "data": "city", "title": "City" }, 
            { "data": "state", "title": "State" }, 
            { "data": "phone", "title": "Phone/Mobile" }, 
            { "data": "email", "title": "Email" }, 
            { "data": "person", "title": "Contact Person" }, 
            { "data": "cp_mail", "title": "Contact Person Mail" }, 
            { "data": "cp_phone", "title": "Contact Person Phone" }, 
            { "data": "report", "title": "Report Email" }, 
            { "data": "status", "title": "Status" }
        ], 
        "ajax": {
            "url": '/company_report/',
            "type": "POST",
            "data": function(data){
                data.csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                data.company = $('#filter_company_id').val();
            }
        }
    }); 

    function company_edit(id) {
        var encodedId = btoa(id);
        window.location.href = '/company_edit/?id=' + encodedId;
    }


    $(document).ready(function() {  
        if (sessionStorage.getItem('addSuccessMessage')) {            
            showToast('success','Company details added successfully');  
            sessionStorage.removeItem('addSuccessMessage');
            table.ajax.reload();

        }

        if (sessionStorage.getItem('editSuccessMessage')) {
            showToast('success','Company details updated successfully');            
            sessionStorage.removeItem('editSuccessMessage');
            table.ajax.reload();
        }
    });

    function refresh_data(){
        table.ajax.reload();
    }

    $('#filter_company_id').on('change', function() {
        refresh_data();
    });

    function company_delete(id) {
        if (confirm('Are you sure you want to delete this data?')) {
            $.ajax({
                url: "/company_delete/",
                method: "POST",
                data: { 
                    id: id, 
                    csrfmiddlewaretoken: '{{ csrf_token }}' 
                },
                dataType: "json",

                success: function(data) {
                    if (data.message === 'error') {  
                        showToast('warning','Access Denied!,You do not have permission to delete company details ');                        
                                        
                    } else if (data.message === 'yes') {
                        showToast('success','Company details deleted successfully')
                       
                        table.ajax.reload();
                    } else {
                        showToast('error','Failed to delete company details')
                        
                    }
                }
                
            });

        }
    }




</script>