{% load static %}

<div class="card-body">
    <div class="d-flex align-items-center mb-3">
        <div class="pe-3">
            <span class="h4">Credentials</span>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                data-bs-target="#add_modal">Add</button>
            <button type="button" class="btn btn-sm btn-primary" onclick="refresh_data()">Refresh</button>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table id="datatable" class="table table-striped table-bordered nowrap">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>Action</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="add_modal"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel">Add Credentials</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Username</label>
                                <input class="form-control" type="text" id="username" name="username">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Email</label>
                                <input class="form-control" type="text" id="email" name="email">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Password</label>
                                <input class="form-control" type="text" id="password" name="password">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="name" class="form-label">Descriptions</label>
                                <!-- <textarea class="ckeditor form-control" id="descriptions" name="descriptions" rows="3" required></textarea> -->
                                <textarea id="complaints" name="complaints"></textarea>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="task_id" name="task_id" value="{{item_id}}">
                        <input type="hidden" id="project_id" name="project_id" value="{{project_id}}">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>                   
        </div>
    </div>
</div>


<div class="modal fade" id="edit_modal"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel">Edit Notes</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit_form">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input class="form-control" type="text" id="edit_name" name="name">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Username</label>
                                <input class="form-control" type="text" id="edit_username" name="username">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Email</label>
                                <input class="form-control" type="text" id="edit_email" name="email">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="name" class="form-label">Password</label>
                                <input class="form-control" type="text" id="edit_password" name="password">
                            </div>                            
                            <div class="col-12 mb-3">
                                <label for="name" class="form-label">Descriptions</label>
                                <textarea class="ckeditor form-control" id="edit_descriptions" name="editor" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="edit_id">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    CKEDITOR.replace('descriptions');
    CKEDITOR.replace('edit_descriptions');
</script> -->


<script src="{% static 'assets/plugins/tinymce/tinymce.min.js' %}"></script>


<script>
    $(window).on('load', function () {
    tinymce.init({
        selector: '#complaints', // Ensure these IDs exist in your HTML
        height: 200,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample', // Combined toolbar into one
        image_advtab: true, // Advanced image settings
    });
});
</script>

<script>
    

    $("#add_form").submit(function (e) {
    e.preventDefault();
    
    // Retrieve CKEditor data
    var descriptions = CKEDITOR.instances['descriptions'].getData();
    console.log("CKEditor Description:", descriptions);  // Debugging log

    // Create FormData object
    var formData = new FormData(this); 
    
    // Append CKEditor data explicitly
    if (descriptions) {
        formData.set('descriptions', descriptions); // Use .set() to overwrite if it exists
    }

    $.ajax({
        type: 'POST',
        url: '/credentials_add/',
        data: formData,
        contentType: false,  // Important for FormData
        processData: false, // Prevent jQuery from transforming the data
        success: function (response) {
            if (response.message === 'error') {
                showToast('warning', 'You do not have permission to add details');
                $('#add_modal').modal('hide');
            } else if (response.data === 'Success') {
                showToast('success', 'Credentials added successfully');
                $('#add_modal').modal('hide');
                $('#add_form').trigger('reset');
            } else {
                showToast('error', 'Failed to add credentials');
            }
        },
        error: function (xhr, status, error) {
            showToast('error', 'An error occurred');
        }
    });
});

    var table = $('#datatable').DataTable({
        "processing": true,
        "pageLength": 50,
        "destroy": true,
        "order": [],
        "columns": [
            { "data": "id", "title": "ID" },
            { "data": "action", "title": "Action" },
            { "data": "name", "title": "Name" },
            { "data": "username", "title": "Username" },
            { "data": "mail", "title": "Email" },
            { "data": "pass", "title": "Password" }
        ],
        "ajax": {
            "url": '/credentials_view/',
            "type": "POST",
            "data": function (data) {
                data.csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                data.task = $('#task_id').val();
            },
            "dataSrc": function (json) {
                if (json.message === 'error') {

                    console.log('access denied')
                    return [];
                }

                // Log and return the valid data
                console.log(json);
                return json.data;
            }

        }
    });


    function refresh_data() {
        table.ajax.reload();
    }


    function credentials_edit(id, name) {
        var tkn = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        $.post('/credentials_edit/', { id: id, csrfmiddlewaretoken: tkn }, function (res) {
            $('#edit_id').val(res.id);
            $('#edit_name').val(res.name);
            $('#edit_username').val(res.username);
            $('#edit_email').val(res.email);
            $('#edit_password').val(res.password);
            CKEDITOR.instances['edit_descriptions'].setData(res.descriptions);
            $('#edit_modal').modal('show');
        });
    }


    $("#edit_form").submit(function (e) {
    e.preventDefault();

    
    var descriptions = CKEDITOR.instances['edit_descriptions'].getData();
    console.log("CKEditor Description:", descriptions);  // Log the CKEditor value to the console

    
    var formData = new FormData(this);
    formData.append('descriptions', descriptions);

    // Log the FormData content
    for (var pair of formData.entries()) {
        console.log('******',pair[0] + ": " + pair[1]);  // Log all form data
    }

    $.ajax({
        type: 'POST',
        url: '/credentials_update/',
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) { 
            if (response.message === 'error') { 
                showToast('warning', 'Access Denied! You do not have permission to update');
                $('#edit_modal').modal('hide');                   
            }
            else if (response.message === 'success') {
                showToast('success', 'Credentials updated successfully');                    
                $('#edit_modal').modal('hide');
                $('#edit_form')[0].reset();  
                table.ajax.reload();
            } else {
                showToast('error', 'Failed to update');               
                $('#edit_modal').modal('hide');
            }
        },
        error: function(xhr, errmsg, err){
            showToast('error', "failed to update");
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
});



function credentials_delete(id) {
        if (confirm('Are you sure you want to delete this data?')) {
            $.ajax({
                url: "/credentials_delete/",
                method: "POST",
                data: {
                    id: id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (data) {
                    if (data.message === 'error') {
                        showToast('warning', 'Access Denied!, You do not have permission to delete');

                    }
                    else if (data.message === 'yes') {
                        showToast('success', 'Credentials deleted successfully');
                        table.ajax.reload();
                    } else {
                        showToast('error', "Failed to delete ");

                    }
                },
            });

        }
    }
</script>
