{% load static %}
{% include 'includes/includes_admin/headers.html' %}
{% include 'includes/includes_admin/sidebar.html' %}
{% include 'includes/includes_admin/navbar.html' %}
<!-- Content Here -->

<div class="page-wrapper">
    <div class="page-content">
        <div class="dash-wrapper">
            <div class="page-breadcrumb d-none d-sm-flex align-items-centers-center mb-3">
                <div class="breadcrumb-title pe-3">Masters</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Company</li>
                        </ol>
                    </nav>
                </div>               
            </div> 

            <div class="card">
                <!-- <div class="card-header">
                    <h5 class="card-title mb-0">Edit Company Details </h5>
                </div> -->
       
               <div class="card-body">                                        
                <form class="row g-3" id="edit_form" enctype="multipart/form-data">
                    {% csrf_token %}                                                         
                   <div class="col-md-4 mb-1">
                        <label for="name" class="form-label"><span style="color: red;">*</span> Company Name </label>
                        <input type="text" class="form-control" name="name" id="name" value="{{company.name}}">
                    </div>

                    <div class="col-md-4 mb-1">
                        <label for="prefix" class="form-label"><span style="color: red;">*</span> Prefix </label>
                        <input type="text" class="form-control" id="prefix" name="prefix" value="{{company.prefix}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="longitude" class="form-label"><span style="color: red;">*</span> Primary technician</label>
                        <select class="form-control single-select" id="primary_technician" name="primary_technician">
                        </select>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="address1" class="form-label">Address Line 1</label>
                        <textarea class="form-control" id="address_line1" placeholder="Address..." rows="3" name="address_line1">{{company.address_line1}}</textarea>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="address2" class="form-label">Address Line 2</label>
                        <textarea class="form-control" id="address_line2" placeholder="Address..." rows="3" name="address_line2">{{company.address_line2}}</textarea>
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{company.city}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" name="state" value="{{company.state}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{company.country}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="state_code" class="form-label">State Code</label>
                        <input type="text" class="form-control" id="state_code" name="state_code" value="{{company.state_code}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="gstin" class="form-label">GSTIN</label>
                        <input type="text" class="form-control" id="gstin" name="gstin" value="{{company.gstin}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{company.phone}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="text" class="form-control" id="mobile" name="mobile" value="{{company.mobile}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{company.email}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="fax" class="form-label">Fax</label>
                        <input type="text" class="form-control" id="fax" name="fax" value="{{company.fax}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="tax_id" class="form-label">Tax ID</label>
                        <input type="text" class="form-control" id="tax_id" name="tax_id" value="{{company.tax_id}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="contact_person" class="form-label">Contact Person</label>
                        <input type="text" class="form-control" id="contact_person" name="contact_person" value="{{company.contact_person}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="cp_phone" class="form-label">Contact Person Phone</label>
                        <input type="text" class="form-control" id="cp_phone" name="cp_phone" value="{{company.cp_phone}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="cp_mobile" class="form-label">Contact Person Mobile</label>
                        <input type="text" class="form-control" id="cp_mobile" name="cp_mobile" value="{{company.cp_mobile}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="cp_email" class="form-label">Contact Person Email</label>
                        <input type="text" class="form-control" id="cp_email" name="cp_email" value="{{company.cp_email}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="report_email" class="form-label">Report Email</label>
                        <input type="text" class="form-control" id="report_email" name="report_email" value="{{company.report_email}}">
                    </div>                                            
                    
                    <div class="col-md-4 mb-1">
                        <label for="logo" class="form-label">Logo</label>
                        <input type="file" class="form-control" id="logo" name="logo" value="{{ company.logo }}">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" alt="Logo" class="img-fluid mt-2" style="max-height: 30px;">
                        {% endif %}
                    </div>
                    
                    <div class="col-md-4 mb-1">
                        <label for="logo_small" class="form-label">Logo Small</label>
                        <input type="file" class="form-control" id="logo_small" name="logo_small" value="{{ company.logo_small }}">
                        {% if company.logo_small %}
                            <img src="{{ company.logo_small.url }}" alt="Small Logo" class="img-fluid mt-2" style="max-height: 30px;">
                        {% endif %}
                    </div>
                    
                    <div class="col-md-4 mb-1">
                        <label for="logo_invoice" class="form-label">Logo Invoice</label>
                        <input type="file" class="form-control" id="logo_invoice" name="logo_invoice" value="{{ company.logo_invoice }}">
                        {% if company.logo_invoice %}
                            <img src="{{ company.logo_invoice.url }}" alt="Invoice Logo" class="img-fluid mt-2" style="max-height: 30px;">
                        {% endif %}
                    </div>
                    
                    <div class="col-md-4 mb-1">
                        <label for="opening_balance" class="form-label">Opening Balance</label>
                        <input type="number" class="form-control" id="opening_balance" name="opening_balance" value="{{ company.opening_balance }}">
                    </div>
                    
                    
                    <div class="col-md-4 mb-1">
                        <label for="latitude" class="form-label">Latitude</label>
                        <input type="text" class="form-control" id="latitude" name="latitude" value="{{company.latitude}}">
                    </div>
                    <div class="col-md-4 mb-1">
                        <label for="longitude" class="form-label">Longitude</label>
                        <input type="text" class="form-control" id="longitude" name="longitude" value="{{company.longitude}}">
                    </div>
                    <div class="col-12 d-flex justify-content-end"> 
                        <input type="hidden" name="company_code" id="company_code" value="{{ company.id }}">
                        <input type="hidden" name="id" id="edit_id" value="{{ company.id }}">
                        <button class="btn btn-secondary me-2" type="reset">Clear</button> 
                        <button class="btn btn-success" type="button" id="updateBtn">Update</button>
                    </div>
                </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of Content -->
{% include 'includes/includes_admin/footer.html' %}


<script type="text/javascript">


    $(document).ready(function() {
        $('#updateBtn').on('click', function(event) {
            event.preventDefault();
            var formData = new FormData($('#edit_form')[0]);
            $.ajax({
                type: 'POST',
                url: '/update_company/',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                if (response.message === 'success') {

                    // sessionStorage.setItem('editSuccessMessage', true);
                    // window.location.href = '/company';
                    showToast('success','Company details updated successfully');


                    
                } else if (response.error_message) {
                    showToast('warning','Access Denied!, You don not have permission to update company details');
                    
                } else {
                    showToast('error','Failed to update company details');                    
                }
            },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });


    function loadTechnicians() {
    var vendorId = $('#edit_id').val();

    if (vendorId && vendorId !== 'Select') {
        $.ajax({
            url: '/fetch_technicians/',
            type: 'GET',
            data: { vendor_id: vendorId },
            success: function(response) {
                $('#primary_technician').empty().append('<option value="">Select</option>');

                $.each(response.technicians, function(index, technician) {
                    $('#primary_technician').append('<option value="' + technician.id + '">' + technician.name + '</option>');
                });

                // Set primary technician as default selected
                var primaryTechnicianId = response.primary_technician_id;
                if (primaryTechnicianId) {
                    $('#primary_technician').val(primaryTechnicianId);
                }
            },
            error: function(xhr, errmsg, err) {
                console.error(xhr.status + ": " + xhr.responseText);
            }
        });
    } else {
        $('#primary_technician').empty().append('<option value="">Select</option>');
    }
}

loadTechnicians();


    </script>